.card {
  position: relative;
  display: grid;
  grid-template-rows: 400px 130px;
  align-items: end;
  height: fit-content;
  box-shadow: 5px 5px 10px #808080;
  background-color: #ffff;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.3s ease-in-out;
}

.discount {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  background-color: #f2d335;
  height: 50px;
  width: 50px;
}

.image {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.image img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.priceWrapper {
  display: flex;
  gap: 10px;
}

.price {
  font-weight: bold;
}

.discountPrice {
  text-decoration: line-through;
  color: red;
}
